<section>
  <form novalidate name="draftConfig" *ngIf="loaded && !currentConfig">
    <div>
      <label>Current Draft Status:</label> Waiting
    </div>
    <div>
      <label>Map:
        <select name="map" [(ngModel)]="config.map">
          <option [value]="undefined">Select Map</option>
          <option *ngFor="let map of maps" [value]="map.id">{{map.name}}</option>
        </select> 
      </label>
    </div>
    <div>
      <label>Team 1: <input name="team1Name"  [(ngModel)]="config.team1Name"/></label>
    </div>
    <div>
      <label>Team 2: <input name="team2Name" [(ngModel)]="config.team2Name"/></label>
    </div>
    <div>
      <label>First Pick: 
        <select name="firstPick" [(ngModel)]="config.firstPick">
          <option [value]="0">Random</option>
          <option [value]="1">Team 1</option>
          <option [value]="2">Team 2</option>
        </select> 
        </label>
    </div>
    <div>
      <label>Pick Time: <input name="pickTime" type="number" [(ngModel)]="config.pickTime"/></label>
    </div>
    <div>
      <label>Bonus Time: <input name="bonusTime" type="number" [(ngModel)]="config.bonusTime"/></label>
    </div>
    <div>
      <label>Bank Pick Time: <input name="bankTime" type="checkbox" [(ngModel)]="config.bankTime"/></label>
    </div>
    <button (click)="createDraft()">Create Draft</button>
    <div *ngIf="createError">
      {{createError}}
    </div>
  </form>
  <div *ngIf="loaded && currentConfig">
    <div>
      <span class="team1">{{currentConfig?.team1Name}}</span><span class="vs"> VS </span><span class="team2">{{currentConfig?.team2Name}}</span>
    </div>
    <div>
      <span class="map">Map: {{getMapName()}}</span>
    </div>
    <div>
      <span class="first-pick">First Pick: {{getFirstPick()}}</span>
    </div>
    <div>
      <span class="phase">Phase: {{getPhase()}}</span>
    </div>
    <div class="draft-link">
      Observer Link: <input #obsLink type="text" [value]="getLink(currentConfig?.draftToken)" (click)="copyLink(obsLink)"/>
    </div>
    <div class="draft-link">
      Team 1 Link: <input #t1Link type="text" [value]="getLink(currentConfig?.draftToken, currentConfig?.team1DrafterToken)" (click)="copyLink(t1Link)"/>
    </div>
    <div class="draft-link">
      Team 2 Link: <input #t2Link type="text" [value]="getLink(currentConfig?.draftToken, currentConfig?.team2DrafterToken)" (click)="copyLink(t2Link)"/>
    </div>
    <button (click)="resetDraft()">Restart Draft</button>
    <button (click)="closeDraft()">Close Draft</button>
  </div>
  <pre>loaded: {{loaded | json}}</pre>
  <pre>currentConfig: {{currentConfig | json}}</pre>
</section>