:host {
    display: block;
}

md-nav-list {
    padding: 0px;
    padding-bottom: 4px;
}

md-list-item {
    vertical-align: middle;
    /deep/>.md-list-item {
        height: auto !important;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    h4 {
        font-size: 14px;
    }
    .teams {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.42);
    }
}

.no-items {
    padding: 8px;
}

button.view-all {
    width: 100%;
}