<md-card *ngIf="loaded && !currentConfig" class="create-draft">
  <md-card-title>Create Draft</md-card-title>
  <md-card-content>
    <table>
      <tr>
        <td>
          <md-input #team1Name name="team1Name" placeholder="Blue Team's Name" [(ngModel)]="config.team1Name"></md-input>
        </td>
        <td>
          <md-input name="team2Name" placeholder="Red Team's Name" [(ngModel)]="config.team2Name"></md-input>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="small">
          <label>First Pick:</label>
          <md-radio-group name="firstPick" [(ngModel)]="config.firstPick">
            <md-radio-button style="padding-right:10px;" name="firstPick" [value]="0">Random</md-radio-button>
            <md-radio-button style="padding-right:10px;" name="firstPick" [value]="1">Blue Team</md-radio-button>
            <md-radio-button style="padding-right:10px;" name="firstPick" [value]="2">Red Team</md-radio-button>
          </md-radio-group>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <md-select placeholder="Select Map" name="map" [(ngModel)]="config.map">
            <md-option *ngFor="let map of maps" [value]="map.id">{{map.name}}</md-option>
          </md-select>
        </td>
      </tr>        
      <tr>
        <td>
          <md-input type="number" name="pickTime" placeholder="Pick Time" [(ngModel)]="config.pickTime"></md-input>
        </td>
        <td>
          <md-input type="number" name="bonusTime" placeholder="Bonus Time" [(ngModel)]="config.bonusTime"></md-input>
        </td>
      </tr>    
      <tr>
        <td class="small"></td>
        <td class="small">
          <md-checkbox name="bankTime" [(ngModel)]="config.bankTime">Bank Time</md-checkbox>
        </td>
      </tr>    
      <tr *ngIf="false">
        <td class="small" colspan="2">
          <md-checkbox name="showDisabledHeroes">Disabled Heroes (NYI)</md-checkbox>
        <td>
      </tr>
      <tr *ngIf="false">
        <td class="disabled-heroes-container" colspan="2">
          <md-list name="showDisabledHeroes">
            <md-list-item *ngFor="let hero of heroes">
              <md-checkbox name="disabledHeroes">{{hero.name}}</md-checkbox>
            </md-list-item>
          </md-list>
        <td>
      </tr>
    </table>
  </md-card-content>  
  <md-card-actions align="start">
    <button md-raised-button class="md-primary" (click)="createDraft()">Create</button>
  </md-card-actions>
</md-card>
<br/>
<md-card class="active-draft" *ngIf="loaded && currentConfig">
  <md-card-title><span class="team1">{{currentConfig?.team1Name}}</span><span class="vs"> VS </span><span class="team2">{{currentConfig?.team2Name}}</span></md-card-title>
  <md-card-content> 
    <table>
      <tr>
        <td>
          <label>Draft Status:</label>
        </td>
        <td>
          {{getPhase()}}
        </td>
      </tr>
      <tr>
        <td>
          <label>First Pick:</label>
        </td>
        <td>
          {{getFirstPick()}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Map:</label>
        </td>
        <td>
          {{getMapName()}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Observer Link:</label>
        </td>
        <td>
          <input class="draft-link" readonly title="Click to copy link" #obsLink type="text" [value]="getLink(currentConfig?.draftToken)" (click)="copyLink(obsLink)"/>
        </td>
      </tr>
      <tr>
        <td>
          <label>Blue Team Link:</label>
        </td>
        <td>
          <input class="draft-link" readonly title="Click to copy link" #t1Link type="text" [value]="getLink(currentConfig?.draftToken, currentConfig?.team1DrafterToken)" (click)="copyLink(t1Link)"/>
        </td>
      </tr>
      <tr>
        <td>
          <label>Red Team Link:</label>
        </td>
        <td>
          <input class="draft-link" readonly title="Click to copy link" #t2Link type="text" [value]="getLink(currentConfig?.draftToken, currentConfig?.team2DrafterToken)" (click)="copyLink(t2Link)"/>
        </td>
      </tr>
    </table>
  </md-card-content> 
  <md-card-actions align="start">
    <button md-raised-button class="md-accent" (click)="resetDraft()" *ngIf="!isDraftComplete">Restart Draft</button>
    <button md-raised-button class="md-warn" (click)="closeDraft()" *ngIf="!isDraftComplete">Close Draft</button>
    <button md-raised-button class="md-primary" [routerLink]="['../../../']" *ngIf="isDraftComplete">Create New Draft</button>
    
  </md-card-actions>
</md-card>
<draft-connection-status *ngIf="loaded && currentConfig"></draft-connection-status>
  <!--
<section>
  <form novalidate name="draftConfig" *ngIf="loaded && !currentConfig">
    <div>
      <label>Current Draft Status:</label> Waiting
    </div>
    <div>
      <label>Map:
        <select name="map" [(ngModel)]="config.map">
          <option [value]="undefined">Select Map</option>
          <option *ngFor="let map of maps" [value]="map.id">{{map.name}}</option>
        </select> 
      </label>
    </div>
    <div>
      <label>Team 1: <input name="team1Name"  [(ngModel)]="config.team1Name"/></label>
    </div>
    <div>
      <label>Team 2: <input name="team2Name" [(ngModel)]="config.team2Name"/></label>
    </div>
    <div>
      <label>First Pick: 
        <select name="firstPick" [(ngModel)]="config.firstPick">
          <option [value]="0">Random</option>
          <option [value]="1">Team 1</option>
          <option [value]="2">Team 2</option>
        </select> 
        </label>
    </div>
    <div>
      <label>Pick Time: <input name="pickTime" type="number" [(ngModel)]="config.pickTime"/></label>
    </div>
    <div>
      <label>Bonus Time: <input name="bonusTime" type="number" [(ngModel)]="config.bonusTime"/></label>
    </div>
    <div>
      <label>Bank Pick Time: <input name="bankTime" type="checkbox" [(ngModel)]="config.bankTime"/></label>
    </div>
    <button (click)="createDraft()">Create Draft</button>
    <div *ngIf="createError">
      {{createError}}
    </div>
  </form>
  <div *ngIf="loaded && currentConfig">
    <div>
      <span class="team1">{{currentConfig?.team1Name}}</span><span class="vs"> VS </span><span class="team2">{{currentConfig?.team2Name}}</span>
    </div>
    <div>
      <span class="map">Map: {{getMapName()}}</span>
    </div>
    <div>
      <span class="first-pick">First Pick: {{getFirstPick()}}</span>
    </div>
    <div>
      <span class="phase">Phase: {{getPhase()}}</span>
    </div>
    <div class="draft-link">
      Observer Link: <input #obsLink type="text" [value]="getLink(currentConfig?.draftToken)" (click)="copyLink(obsLink)"/>
    </div>
    <div class="draft-link">
      Team 1 Link: <input #t1Link type="text" [value]="getLink(currentConfig?.draftToken, currentConfig?.team1DrafterToken)" (click)="copyLink(t1Link)"/>
    </div>
    <div class="draft-link">
      Team 2 Link: <input #t2Link type="text" [value]="getLink(currentConfig?.draftToken, currentConfig?.team2DrafterToken)" (click)="copyLink(t2Link)"/>
    </div>
    <button (click)="resetDraft()">Restart Draft</button>
    <button (click)="closeDraft()">Close Draft</button>
  </div>
</section>

-->