:host {
    top: 0px;
    margin: auto;
    bottom: 50px;
    display: block;
    width: 1018px;
    height: 100%;
}

div.search {
    display: block;
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 50px;
    
}

div.txtsearch input{
   height:100%;
   width:100%;
}

div.list {
    position: absolute;
    top: 0px;
    bottom: 50px;
    left: 8px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

div.filters {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 20px;
   
}

div.txtsearch {
    position: absolute;
    width: 50%;
    top: 0px;
    right: 0px;
    height: 100%;
    text-align: center;
    padding:10px;
    
}