@import '~@angular/material/core/theming/theming';
@import 'src/heisenslaught.theme.include';
:host {
    top: 0px;
    margin: auto;
    bottom: 50px;
    display: block;
    width: 860px;
    height: 552px;
}

div.search {
    display: block;
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: -10px;
    height: 60px;
}

div.txtsearch {
    position: absolute;
    width: 860px - 487px;
    top: 0px;
    right: 0px;
    height: 100%;
    text-align: center;
    padding: 00px;
    input {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 60px;
        width: 340px;
        background-image: url('assets/storm_ui_glues_store_note_box.png');
        border: none;
        background-color: transparent;
        color: white;
        opacity: 0.5;
        padding-left: 20px;
        padding-right: 54px;
        font-size: 14px;
        &:focus {
            outline: none;
            opacity: 1;
        }
    }
    .search-tip-icon {
        background-image: url('assets/ui_glues_tooltip_info.png');
        position: absolute;
        width: 76px * 0.5;
        height: 76px * 0.5;
        background-size: 100% 100%;
        top: 12px;
        right: 46px;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    button {
        position: absolute;
        right: -8px;
        top: 4px;
        width: 52px;
        height: 52px;
        background-image: url('assets/storm_ui_glues_button_close_normal.png'), url('assets/storm_ui_glues_button_close_hover.png'), url('assets/storm_ui_glues_button_close_down.png'), url('assets/storm_ui_glues_button_close_disabled.png');
        background-position: 0px 0px, 110px 0px, 110px 0px, 110px 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: none;
        opacity: 0.5;
        background-color: transparent;
        &:focus {
            outline: none;
        }
        &:hover {
            // background-image: url('assets/storm_ui_glues_button_close_hover.png');
            background-position: 110px 0px, 0px 0px, 110px 0px, 110px 0px;
        }
        &:active {
            // background-image: url('assets/storm_ui_glues_button_close_down.png');
            background-position: 110px 0px, 110px 0px, 0px 0px, 110px 0px;
        }
        &:disabled {
            // background-image: url('assets/storm_ui_glues_button_close_disabled.png');
            background-position: 110px 0px, 110px 0px, 110px 0px, 0px 0px;
        }
        &.focused {
            opacity: 1;
        }
    }
}

div.list {
    position: absolute;
    top: 0px;
    bottom: 50px;
    left: 2px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

div.filters {
    position: absolute;
    width: 487px;
    height: 100%;
    padding: 0px;
    md-button-toggle-group {
        box-shadow: none;
        left: 6px;
        top: 11px;
        md-button-toggle {
            margin-right: 5px;
            color: white;
            opacity: 0.5;
            border: 1px solid white;
            border-radius: 4px;
            /deep/ {
                .md-button-toggle-label-content {
                    padding: 0 8px;
                    font-weight: 400;
                }
            }
            &.md-button-toggle-checked /deep/ .md-button-toggle-label-content {
                color: md-color($heisenslaught-accent);
                background-color: transparent;
            }
            &.md-button-toggle-checked {
                opacity: 0.65;
                border: 1px solid md-color($heisenslaught-accent);
                -webkit-box-shadow: inset 0px 0px 10px -1px md-color($heisenslaught-accent);
                -moz-box-shadow: inset 0px 0px 10px -1px md-color($heisenslaught-accent);
                box-shadow: inset 0px 0px 10px -1px md-color($heisenslaught-accent);
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

@media (min-height: 861px) and (max-height: 940px) {
     :host {
        height: 468px;
        div.search {
            bottom: -10px;
        }
    }
}

@media (max-height: 860px) {
     :host {
        height: 384px;
        div.search {
            bottom: -10px;
        }
    }
}

.search-help {
    border: 2px solid darkcyan;
    background-color: black;
    color: white;
    padding: 16px;
    max-width: 700px;
    margin-bottom: 5px;
    margin-right: -3px;
    td.left {
        width: 100%;
        padding-right:10px;
        vertical-align: top;
    }
    td.right {
        
        padding-left: 10px;
        vertical-align: top;
    }
    i{
        color: yellow;

    }
    li {
        text-transform: capitalize;
        white-space: nowrap;
    }
}