<table class="header">
    <tr>
        <td class="left">
            <button md-button class="menu-button" (click)="mainNav.toggle()"> <md-icon>menu</md-icon><label>Menu</label></button>
        </td>
        <td class="right">
            <login-bar></login-bar>
        </td>
    </tr>    
</table>
<md-sidenav-layout>
    <md-sidenav #mainNav mode="over" class="hs-dark-theme">
        <md-nav-list>
            <md-list-item [routerLink]="['/']" (click)="mainNav.close()"> Home </md-list-item>
            <md-list-item [routerLink]="['/draft']" (click)="mainNav.close()"> Create Draft </md-list-item>
            <md-list-item *ngIf="!(user | async)" (click)="mainNav.close(); login()"> Login </md-list-item>
            <md-list-item *ngIf="(user | async)" (click)="mainNav.close(); logout()"> Logout </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        ©2014 Blizzard Entertainment, Inc. All rights reserved. Heroes of the Storm is a trademark of Blizzard Entertainment, Inc.
    </div>
</md-sidenav-layout>