<table class="header">
    <tr>
        <td class="left">
            <button md-button class="menu-button" (click)="mainNav.toggle()"> <md-icon>menu</md-icon><label>Menu</label></button>
        </td>
        <td class="right">
            <login-bar></login-bar>
        </td>
    </tr>    
</table>
<md-sidenav-layout>
    <md-sidenav #mainNav mode="over" class="hs-dark-theme">
        <app-navigation (navClick)="mainNav.close()"></app-navigation>
    </md-sidenav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        ©2014 Blizzard Entertainment, Inc. All rights reserved. Heroes of the Storm is a trademark of Blizzard Entertainment, Inc.
    </div>
</md-sidenav-layout>