@{ 
    ViewBag.Title = "Heisenslaught";
}

<h2>Welcome to Heisenslaught!</h2>

<h4>Draft Links</h4>
<a href="/Draft/Index?type=obs">Observer</a>
<a href="/Draft/Index?type=Team0">Team 0 Captain</a>
<a href="/Draft/Index?type=Team1">Team 1 Captain</a>