$sideWidth: 200px;
$centerWidth: 1088px;
$sideOffset:60px;
$sideWidthSmall: $sideWidth * 0.5;
$centerWidthSmall: 1088px;
$sideOffsetSmall: 90px;
:host {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
    draft-connection-status {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .draft-container {
        width: $sideWidth * 2 + $centerWidth;
        height: 100%;
        margin: auto;
        .left,
        .center,
        .right {
            position: absolute;
            top: 0px;
            height: 100%;
        }
        .left {
            left: $sideOffset;
            width: $sideWidth;
            padding-top: 100px;
            team-hero-picks {
                float: right;
            }
        }
        .center {
            left: $sideWidth;
            width: $centerWidth;
            text-align: center;
            .header {
                width: 100%;
                height: 230px;
                background-image: url('assets/storm_ui_glues_draft_headerbar_vs.png');
                background-repeat: no-repeat;
                background-position-x: center;
                .team-name {
                    position: absolute;
                    width: 365px;
                    top: 20px;
                    font-size: 32px;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
                .team-name.team1 {
                    left: 70px;
                    text-align: right;
                    text-shadow: 0 0 60px blue, 0 0 60px blue, 0 0 60px blue, 0 0 5px blue, 0 0 5px blue, 0 0 5px blue, 0 0 5px blue, 0 0 5px blue;
                }
                .team-name.team2 {
                    left: 50%;
                    margin-left: 110px;
                    text-shadow: 0 0 60px red, 0 0 60px red, 0 0 5px red, 0 0 5px red;
                }
                .pick-time {
                    position: absolute;
                    left: 50%;
                    top: 20px;
                    margin-left: -72px;
                    font-size: 52px;
                    font-weight: 900;
                    width: 150px;
                    text-align: center;
                    letter-spacing: 2px;
                }
                .bonus-time {
                    position: absolute;
                    width: 144px;
                    height: 40px;
                    left: 50%;
                    top: 70px;
                    text-align: center;
                    padding: 8px;
                    font-weight: 700;
                    font-size: 18px;
                    letter-spacing: 1px;
                }
                .bonus-time.team1 {
                    background-image: url('assets/storm_ui_glues_draft_rankbackground_blue.png');
                    margin-left: -210px;
                }
                .bonus-time.team2 {
                    background-image: url('assets/storm_ui_glues_draft_rankbackground_red.png');
                    margin-left: 70px;
                }
                .map {
                    position: absolute;
                    width: 512px;
                    height: 92px;
                    top: 92px;
                    left: 50%;
                    margin-left: -256px;
                    background-image: url('assets/storm_ui_glues_draft_headerbar_mapbg.png');
                    text-align: center;
                    font-weight: 700;
                    font-size: 24px;
                    padding-top: 24px;
                    letter-spacing: 1px;
                }
                .draft-status {
                    position: absolute;
                    top: 179px;
                    width: 450px;
                    margin-left: -225px;
                    left: 50%;
                    z-index: 20;
                    text-align: center;
                    font-weight: 700;
                    font-size: 22px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
                team-hero-picks {
                    position: absolute;
                    top: 100px;
                    &[team="0"] {
                        left: 100px;
                    }
                    &[team="1"] {
                        left: 776px;
                    }
                }
            }
            heroes-button {
                margin-top: -5px;
            }
        }
        .right {
            position: absolute;
            right: $sideOffset;
            width: $sideWidth;
            height: 100%;
            padding-top: 100px;
            team-hero-picks {
                float: left;
            }
        }
    }
}

.ready-window {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.ready-window .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
}

.ready-window .popup {
    width: 600px;
    border-radius: 10px;
    margin: auto;
    top: 250px;
    z-index: 101;
    text-align: center;
    h1 {
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 49px;
        &.team1 {
            text-shadow: 0 0 60px blue, 0 0 60px blue, 0 0 60px blue, 0 0 5px blue, 0 0 5px blue, 0 0 5px blue, 0 0 5px blue, 0 0 5px blue;
        }
        &.team2 {
            text-shadow: 0 0 60px red, 0 0 60px red, 0 0 5px red, 0 0 5px red;
        }
    }
}

@media (max-width: 1510px),
(max-height: 860px) {
     :host {
        .draft-container {
            width: $sideWidthSmall * 2 + $centerWidth;
            .left {
                left: $sideOffsetSmall;
                width: $sideWidthSmall;
            }
            .center {
                .header{
                    height: 245px;
                }
                left: $sideWidthSmall;
            }
            .right {
                right: $sideOffsetSmall;
                width: $sideWidthSmall;
            }
        }
    }
}