<section class="draft-container">
	<div class="left">
		<team-hero-picks [team]="0" [slots]="teamPickSlots[0]" [teamSlots]="teamSlots[0]" [config]="draftConfig" [state]="draftState" [selectedHero]="selectedHero"></team-hero-picks>
	</div>
	<div class="center">
		<div class="header">
			<div class="map">{{mapName}}</div>
			
			<div class="pick-time">{{pickTime}}</div>
			<div class="bonus-time team1">{{team1Status || 'Waiting...'}}</div>
			<div class="bonus-time team2">{{team2Status || 'Waiting...'}}</div>
			
			<div class="team-name team1">{{draftConfig?.team1Name || 'Blue Team'}}</div>
			<div class="team-name team2">{{draftConfig?.team2Name || 'Red Team'}}</div>
			
			<div class="draft-status">{{draftStatus}}</div>

			<team-hero-picks class="bans" [team]="0" [slots]="teamBanSlots[0]" [teamSlots]="teamSlots[0]" [config]="draftConfig" [state]="draftState" [selectedHero]="selectedHero"></team-hero-picks>
			<team-hero-picks class="bans" [team]="1" [slots]="teamBanSlots[1]" [teamSlots]="teamSlots[1]" [config]="draftConfig" [state]="draftState" [selectedHero]="selectedHero"></team-hero-picks>
		</div>
		<hero-search [(selectedHero)]="selectedHero" [state]="draftState"></hero-search>
		<heroes-button label="SELECT"  *ngIf="shouldShowSelect" 
			[disabled]="!canPick" 
			(click)="pick()"></heroes-button>
	</div>
	<div class="right">
		<team-hero-picks [team]="1" [slots]="teamPickSlots[1]" [teamSlots]="teamSlots[1]"  [config]="draftConfig" [state]="draftState" [selectedHero]="selectedHero"></team-hero-picks>
	</div>
</section>
<section class="ready-window" *ngIf="showReady">
	<div class="modal"></div>
	<div class="popup">
		<h1 [class.team1]="team === 1" [class.team2]="team === 2">
			{{team === 1 
				? draftConfig?.team1Name || 'Blue Team'
				: draftConfig?.team2Name || 'Red Team'
			}}
		</h1>
		<heroes-button (click)="setReady()" label="Ready!"></heroes-button>
	</div>
</section>
<draft-connection-status></draft-connection-status>