<div style="padding:25px;">
<a routerLink="/admin" routerLinkActive="active" style="color:white;">Admin</a>
</div>

<md-card>Testing

    <button md-raised-button color="primary">PRIMARY</button>
    <button md-raised-button color="accent">ACCENT</button>
    <button md-raised-button color="warn">WARN</button>
    <!-- Disabled Buttons -->
    <button md-button disabled>off</button>
    <button md-raised-button disabled>off</button>
</md-card>
<br/>
<br/>
<div class="hs-light-theme">

    <md-card>Testing

        <button md-raised-button color="primary">PRIMARY</button>
        <button md-raised-button color="accent">ACCENT</button>
        <button md-raised-button color="warn">WARN</button>
        <!-- Disabled Buttons -->
        <button md-button disabled>off</button>
        <button md-raised-button disabled>off</button>
    </md-card>
</div>
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
<br/>
aaaa
