:host {
    display: block;
    width: 100%;
    height: 100%;
}

section.left {
    top: 0px;
    width: 20vw;
    height: 100vh;
    /*background-color: blue;*/
    position: absolute;
}

section.center {
    top: 0px;
    left: 20vw;
    width: 60vw;
    height: 100vh;
    position: absolute;
}

section.right {
    top: 0px;
    left: 80vw;
    width: 20vw;
    height: 100vh;
    /*background-color: red;*/
    position: absolute;
}

section.center div.top {
    /* background-color: yellow;*/
    width: 100%;
    height: 250px;
}

section.center div.top div.header {
    width: 1088px;
    height: 200px;
    margin: auto;
    background-image: url('assets/storm_ui_glues_draft_headerbar_vs.png');
    background-repeat: no-repeat;
    background-position-x: center;
}

section.center div.top div.map {
    position: absolute;
    width: 512px;
    height: 92px;
    top: 92px;
    left: 50%;
    margin-left: -256px;
    background-image: url('assets/storm_ui_glues_draft_headerbar_mapbg.png');
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding-top: 24px;
    letter-spacing: 1px;
}

.bonus-time {
    position: absolute;
    width: 144px;
    height: 40px;
    left: 50%;
    top: 70px;
    text-align: center;
    padding: 8px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}

.team-name {
    position: absolute;
    width: 365px;
    top: 20px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;

}

.team-name.team1 {
    left:70px;
    text-align:right;
}

.team-name.team2 {
    left:50%;
    margin-left:110px;
}


.bonus-time.team1 {
    background-image: url('assets/storm_ui_glues_draft_rankbackground_blue.png');
    margin-left: -210px;
}

.bonus-time.team2 {
    background-image: url('assets/storm_ui_glues_draft_rankbackground_red.png');
    margin-left: 70px;
}

section.center div.bottom {
    width: 100%;
    position: absolute;
    top: 230px;
    bottom: 0px;
}

section.center div.search-area {
    position: absolute;
    top: 0px;
    bottom: 100px;
    width: 100%;
}

section.center div.select-area {
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 25px;
}

.btn-select {
    margin: auto;
    width: 250px;
    height: 50px;
}

.picked-heroes {
    width: 150px;
    position: absolute;
    top: 120px;
}

.picked-heroes.team1 {
    right: 0px;
}

.pick-time{
    position:absolute;
    left:50%;
    top:20px;
    margin-left:-72px;
    font-size: 52px;
    font-weight: 900;
    width:150px;
    text-align: center;
    letter-spacing: 2px;
}